@model IEnumerable<ASP_Foody_Ordering.Models.Monan>

@{
    ViewData["Title"] = "About";
}
    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container  ">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="~/images/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Chào mừng đến với FOODY
                            </h2>
                        </div>
                        <br />
                        <h3 class="text-center">Về chúng tôi</h3>
                        <p>
                            Chúng tôi là một đội ngũ đam mê về ẩm thực và công nghệ, và chúng tôi đã sáng tạo FOODY với mục tiêu mang lại trải nghiệm đặt món ăn trực tuyến tốt nhất cho cộng đồng của mình. Tại đây, chúng tôi tin rằng ẩm thực không chỉ là một nhu cầu cơ bản, mà còn là một trải nghiệm thú vị, và chúng tôi muốn giúp bạn khám phá những hương vị mới mẻ từ những nhà hàng xuất sắc trong khu vực.
                        </p>
                        <h3 class="text-center">Sứ mệnh của chúng tôi</h3>
                        <p>
                            Sứ mệnh của FOODY là kết nối người yêu thức ăn với những địa điểm nổi tiếng và những món ăn tuyệt vời. Chúng tôi cam kết mang lại trải nghiệm đặt món đơn giản, nhanh chóng và tiện lợi, đồng thời hỗ trợ cộng đồng doanh nghiệp nhỏ và những đầu bếp tài năng. Bạn chỉ cần vài cú nhấp chuột để thưởng thức các món ăn ngon tại nhà, văn phòng, hoặc bất cứ đâu bạn muốn!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
   