
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Chào mừng</h1>
    <p>Bạn đã đến trang dành cho quản trị viên với tài khoản có tên @ViewBag.taikhoan.Ten.</p>
</div>