@model ASP_Foody_Ordering.Models.Hoadon
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-1">
            <h3>Đơn hàng mã số @Model.MaHd trị giá @Model.TongTien đã được hệ thống ghi nhận </h3>
        </div>
    </section>
