@model ASP_Foody_Ordering.Models.Monan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Thêm Món ăn</h3></div>
                        <div class="card-body">
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Ten" class="control-label"></label>
                                    <input asp-for="Ten" class="form-control" required />
                                    <span asp-validation-for="Ten" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GiaGoc" class="control-label"></label>
                                    <input asp-for="GiaGoc" class="form-control" required />
                                    <span asp-validation-for="GiaGoc" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GiaBan" class="control-label"></label>
                                    <input asp-for="GiaBan" class="form-control" required />
                                    <span asp-validation-for="GiaBan" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MoTa" class="control-label"></label>
                                    <input asp-for="MoTa" class="form-control" required />
                                    <span asp-validation-for="MoTa" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label asp-for="HinhAnh" class="control-label"></label>
                                    <input type="file" name="file" required class="form-control-file" />
                                    <span asp-validation-for="HinhAnh" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <select asp-for="MaDm" class="form-control" asp-items="ViewBag.MaDm"></select>
                                </div>
                                <br />
                                <div class="form-group" style="display: none;">
                                    <label asp-for="LuotXem" class="control-label"></label>
                                    <input asp-for="LuotXem" class="form-control" />
                                    <span asp-validation-for="LuotXem" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="display: none;">
                                    <label asp-for="LuotMua" class="control-label"></label>
                                    <input asp-for="LuotMua" class="form-control" />
                                    <span asp-validation-for="LuotMua" class="text-danger"></span>
                                </div>
                                <div class="d-grid">
                                    <input type="submit" value="Thêm" class="btn btn-info btn btn-block" />
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <a asp-action="Index" class="btn btn-outline-info">Quay về</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>