@model ASP_Foody_Ordering.Models.Diachi

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Cập nhật Địa chỉ </h3></div>
                        <div class="card-body">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="MaDc" />
                                <div class="form-group">
                                    <label asp-for="MaTk" class="control-label"></label>
                                    <select asp-for="MaTk" class="form-control" asp-items="ViewBag.MaTk"></select>
                                    <span asp-validation-for="MaTk" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DiaChi" class="control-label"></label>
                                    <input asp-for="DiaChi" class="form-control" required/>
                                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhuongXa" class="control-label"></label>
                                    <input asp-for="PhuongXa" class="form-control" />
                                    <span asp-validation-for="PhuongXa" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="QuanHuyen" class="control-label"></label>
                                    <input asp-for="QuanHuyen" class="form-control" />
                                    <span asp-validation-for="QuanHuyen" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TinhThanh" class="control-label"></label>
                                    <input asp-for="TinhThanh" class="form-control" />
                                    <span asp-validation-for="TinhThanh" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="d-grid form-group">
                                    <input type="submit" value="Lưu" class="btn btn-info btn btn-block" />
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <a asp-action="Index" class="btn btn-outline-info">Quay về</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

