@model ASP_Foody_Ordering.Models.Hoadon

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-info text-white text-center">
                        <h3>Cập nhật hóa đơn</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="MaHd" />
                            <div class="form-group" style="display:none">
                                <label asp-for="Ngay" class="control-label"></label>
                                <input asp-for="Ngay" class="form-control"/>
                                <span asp-validation-for="Ngay" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display:none">
                                <label asp-for="TongTien" class="control-label"></label>
                                <input asp-for="TongTien" class="form-control" />
                                <span asp-validation-for="TongTien" class="text-danger"></span>
                            </div> 
                            <div class="form-group" style="display:none">
                                <label asp-for="MaTk" class="control-label"></label>
                                <select asp-for="MaTk" class="form-control" asp-items="ViewBag.MaTk" ></select>
                                <span asp-validation-for="MaTk" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TrangThai" class="control-label"></label>
                                <select asp-for="TrangThai" class="form-control">
                                    <option value="1">Đơn hàng đã giao</option>
                                    <option value="0">Đã tạo đơn hàng</option>
                                    <option value="2">Đã hủy đơn hàng</option>
                                </select>
                                <span asp-validation-for="TrangThai" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="d-grid form-group">
                                <input type="submit" value="Lưu" class="btn btn-info btn btn-block" />
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="Index" class="btn btn-info">Quay về</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



